footer
  .container.text-center
    p.pull-left © 2016 Ben West.  All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bewest/samedrop-collector') GitHub Project
      li
        a(href='https://github.com/bewest/samedrop-collector/issues') Issues
