extends layout

block content
  h1 #SameDrop Meter Bias Survey
  p.lead Can pair-wise glucose readings reveal bias?
  hr
  form.grid-form#pairs(action='/api/pairs', method='POST')
    fieldset
      legend Comparison
      div(data-row-span="2")
        label When?
        .when-control
        input.when-input(type='datetime', placeholder='now', name="when")
      //- div.per-meter(data-row-span="4")
        div.meter-chooser(data-field-span="2")
          label(data-toggle="modal", data-target="#find-meter") Meter
          // input(type='text')
          select.favorite-finder( )
        div(data-field-span="1")
          label Serial
            input.v.serial(type='text', name="serial[]")
        div(data-field-span="1")
          label Glucose
            input(type='number', name="glucose[]")
      //- div.per-meter(data-row-span="4")
        div.meter-chooser(data-field-span="2")
          label(data-toggle="modal", data-target="#find-meter") Meter
          // input(type='text')
          select.favorite-finder( )
        div(data-field-span="1")
          label Serial
            input.v.serial(type='text', name="serial[]")
        div(data-field-span="1")
          label Glucose
            input(type='number', name="glucose[]")
      div#pairsinsertion(data-ajax-target="/account/favorites")
        div.hidden.skeleton.per-meter(data-row-span="4")
          div.meter-chooser(data-field-span="2")
            label(data-toggle="modal", data-target="#find-meter") Meter
            // input(type='text')
            select.favorite-finder(name="spec[]")
              option(value="new") New meter ...
          div(data-field-span="1")
            label Serial
              input.v.serial(type='text', name="serial[]")
          div(data-field-span="1")
            label Glucose
              input(type='number', name="glucose[]")
      //- div(data-field-span="1")
        label Add another meter
          button.btn.btn-info(type="button", name="add")
            i.fa.fa-plus
      br
      div(data-field-span="1")
        button.btn.btn-primary(type="button", name="add")
          i.fa.fa-submit Submit
  div.modal.fade#find-meter(role="dialog")
    .modal-dialog
      form.ajax-form(action="/account/favorites", method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="close")
              span(aria-hidden="true") &times;
            h4.modal-title
              | Find Meter
          .modal-body
            p
              | Find a meter
            //- form.grid-form
            select.meter-finder#fda-meters(name="meter_spec")
            .form-group
              label Nickname?
                input.form-control(type='text', name="nickname")
            .form-group
              label Serial?
                input.form-control(type='text', name='serial')
          .modal-footer
            button.btn.btn-primary(type="submit") Save favorite meter
            button.btn.btn-default(data-dismiss="modal") Close

  div.skeleton-option
    div.wrapped
      div
        span.title
          span.spec
        // span.description
        span.by
        // ul.meta
          li.spec
  //- form.form-inline(action='/api/pairs', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label When?
      input.form-control(type='datetime')
    br
    
    .form-group
      label Reading
      input.form-control(type='number')
    .form-group
      label Meter
      input.form-control(type='text')
    br
    .form-group
      label Add another meter
      button(type="button", name="add")
        i.fa.fa-plus

    pre
      !{JSON.stringify(Object.keys(this))}
  .row
    .col-sm-6
      h2 Background
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
