svg {
  // border: 1px solid red;
  display: block;
}

.when-control {
  height: 66px;
  display: block;
  clear: none;
  // border: 1px solid blue;
}

.when-control .slippy-chart {
  cursor: move;
}

.x.axis line {
  stroke: black;
}


.cursor-mid-point {
  stroke: black;
}

.current-cursor .cursor {
  stroke: green;
  fill: green;
  opacity: 0.1;
  // border: 50% 0% solid blue;
}
